$mainRed: #ed7161;
$darkRed: #db5746;
$fadedRed: #ed71612e;
$mainBlue: #272f3f;
$paraGray: #908f8f;
$background-2: #fafafa;

$font-1: 'Montserrat', sans-serif;
$font-2: 'Merriweather', serif;
$font-3: 'Catamaran', sans-serif;